<!doctype html>
<html lang="en" ng-app="colorConverterTwo">
	<head>
		<span class="text-primary"><h1>Color Converter</h1></span>
		<title>Color Converter</title>
		<!-- Bootstrap core CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		
		<link href='styles/main.css' rel='stylesheet' type="text/css">
	</head>
	<body ng-controller = "ConverterController as converter">
		
		<div ng-repeat = "color in converter.colors">
		<div class="row" >
			<div class="col-md-6 divSwatch" ng-style="{'background-color': color.updatedColor}">
				<div class="col-md-3">
					<label>RGB:</label>
					<input class="form-control" placeholder="rgb(0, 0, 0)" type="text" ng-change="converter.isValidRgb(color) ? converter.rgbConvert(color) : color.hex = ''" ng-model="color.rgb"/>
					<label>Hex:</label>
					<input class="form-control" placeholder="#000000" type="text" ng-change="converter.isValidHex(color) ? converter.hexConvert(color) : color.rgb = ''"  ng-model="color.hex"/>
					<p></p>
				</div>
			</div>
		</div>
			
		</div>
	  <!--
	  <script src="vendor/angular.js" type="text/javascript"></script>
	  -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	  <script src="scripts/app.js" type="text/javascript"></script>
	</body>
</html>